@model List<AspNetMvcCore.Models.Comment>

@{
    ViewData["Title"] = "Query 2";
}
<h2>@ViewData["Title"]</h2>
<div class="row">
    <div class="col-md-12">

        <form method="GET" action="/Query/Query2" class="form-inline">
            <div class="form-group">
                <input class="form-control" type="text" name="id" placeholder="Enter UserId"/>
                <input class="btn" type="submit" value="Send" />
            </div>
        </form>
        <br/>
        @Html.Partial("_Comments", @Model) 
    </div>
</div>