@model AspNetMvcCore.Models.Todo

    <div class="col-sm-4">
        <h4>@Model.name</h4>
    </div>
    <div class="col-sm-4">
        <p>User:<a href="User?id=@Model.UserId">@Model.User.Name</a></p>
        <p>Id:@Model.Id,</p>
        <p>CreatedAt:@Model.CreatedAt, </p>
        <p>UserID: @Model.UserId, 
    </div>